<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.url">jdbc:hsqldb:file:testdb</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity class -->
        <mapping class="au.gov.rba.sterling.model.TransferredFile"/>
        <mapping class="au.gov.rba.sterling.model.FileType"/>
        <mapping class="au.gov.rba.sterling.model.Status"/>
        <mapping class="au.gov.rba.sterling.model.Protocol"/>
        <mapping class="au.gov.rba.sterling.model.Client"/>
        <mapping class="au.gov.rba.sterling.model.WebServiceOutbound"/>


    </session-factory>

</hibernate-configuration>