.project
.settings
target
.idea
.classpath

/maven-thucydides-plugin/target/

/thucydides-core/.checkstyle
velocity.log.1
/thucydides-junit/velocity.log
/thucydides-core/velocity.log
velocity.log
*.iml
pom.xml.versionsBackup
build.log