<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$testrun.Title</title>
    <style type="text/css">
        <!--
        @import url("core.css");
        -->
    </style>
    <link href="css/core.css" rel="stylesheet" type="text/css"/>
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <style type="text/css">a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
    </style>
</head>

<body>

## HEADER

<div id="topheader">
    <div id="topbanner">
        <div id="menu">
            <table border="0">
                <tr>
                    <td><a href="Home.html"><img src="images/menu_h.png" width="105" height="28" border="0"/></a></td>
                    <td><a href="Features.html"><img src="images/menu_f.png" width="105" height="28" border="0"/></a>
                    </td>
                    <td><a href="Stories.html"><img src="images/menu_s.png" width="105" height="28" border="0"/></a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="logo"><a href="Home.html"><img src="images/logo.jpg" width="265" height="96" border="0"/></a></div>
    </div>
</div>
## END OF HEADER

<div class="middlecontent">
## BREADCRUMBS

<div id="contenttop">
    <div class="tallleftbg"></div>
    <div class="tallmiddlebg">
        <div style="height:30px;"><span class="bluetext"><a href="stories.html" class="bluetext">Home</a></span> / <span
                class="bluetext"><a href="#" class="bluetext">Features</a></span> /
            <span class="bluetext"><a href="stories.html">Stories</a></span> /
            <span class="bluetext"><a href="${testrun.userStory.reportName}.html"
                                      class="bluetext">$testrun.userStory.name</a></span></div>
    </div>
    <div class="tallrightbg"></div>
</div>
## END OF BREADCRUMBS

<div class="clr"></div>

    #if ($testrun.result == "FAILURE")
        #set( $outcome_icon = "fail.png" )
        #set( $outcome_text = "failing-color" )
    #elseif ($testrun.result == "SUCCESS")
        #set( $outcome_icon = "success.png" )
        #set( $outcome_text = "success-color" )
    #elseif ($testrun.result == "PENDING")
        #set( $outcome_icon = "pending.png" )
        #set( $outcome_text = "pending-color" )
    #else
        #set( $outcome_icon = "ignor.png" )
        #set( $outcome_text = "ignore-color" )
    #end

## TEST TITLE

<div id="contentbody">
    <div class="titlebar">
        <div class="leftbgm"></div>
        <div class="middlebgm">
            <table width="1005">
                <tr>
                    <td width="25"><img class="story-outcome-icon" src="images/$outcome_icon" width="25" height="25"/>
                    </td>
                    <td width="%"><span class="test-case-title"><span class="$outcome_text">$formatter.addLinks( $testrun.Title )</span></span>
                    </td>
                    <td width="100"><span class="test-case-duration"><span class="greentext">$testrun.duration ms</span></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="rightbgm"></div>
    </div>
</div>

<div class="clr"></div>

<div id="beforetable"></div>
<div id="contenttilttle">
    <div class="topb"><img src="images/topm.jpg"/></div>
    <div class="middlb">
        <div class="table">
            <div class="toptableraw">
                <table width="980" height="50" border="0">
                    <tr>
                        <td width="40">&nbsp;</td>
                        <td width="%" class="greentext">Steps</td>
                        <td width="150" class="greentext">Screenshot</td>
                        <td width="150" class="greentext">Outcome</td>
                        <td width="75" class="greentext">Duration</td>
                    </tr>
                </table>
            </div>


            #macro( step $step)
                #step_details($step, $level)
                #if( $step.isAGroup() )
                    #set( $level = $level + 1)
                    #foreach($nestedStep in $step.steps)
                        #step($nestedStep)
                    #end
                    #set( $level = $level - 1)
                #end
            #end

            #macro( step_details $step $level )

                #if ($step.result == "FAILURE")
                    #set( $step_outcome_icon = "fail.png" )
                #elseif ($step.result == "SUCCESS")
                    #set( $step_outcome_icon = "success.png" )
                #elseif ($step.result == "PENDING")
                    #set( $step_outcome_icon = "pending.png" )
                #else
                    #set( $step_outcome_icon = "ignor.png" )
                #end

                #set($step_icon_size = 20)
                #if ( $level > 1)
                    #if ($step.isAGroup())
                        #set($step_class_root = "nested")
                    #else
                        #set($step_class_root = "nested-group")
                    #end
                #else
                    #set($step_class_root = "top-level")
                #end
                #set($step_indent = $level * 20)

                <div class="tableraw">
                    <table border="0" width="980" height="40">
                        <tr class="test-$step.result">
                            <td width="40"><img style="margin-left: ${step_indent}px; margin-right: 5px;"
                                                src="images/$step_outcome_icon" class="${step_class_root}-icon"/></td>
                            <td width="%"><span class="${step_class_root}-step">$step.description</span></td>
                            <td width="100" class="bluetext">
                                #if( $step.screenshot )
                                    <a href="${testrun.screenshotReportName}.html"><img src="$step.screenshot.name" class="screenshot"
                                                                         width="48" height="48"/></a>
                                #end
                            </td>
                            <td width="150"><span class="${step_class_root}-step">$step.result</span></td>
                            <td width="100"><span class="${step_class_root}-step">$step.duration ms</span></td>
                        </tr>
                        #if (($step.result == "FAILURE") && (!$step.isAGroup()))
                            <tr class="test-$step.result">
                                <td width="40">&nbsp</td>
                                <td width="%" colspan="4"><span class="error-message">$step.errorMessage</span></td>
                            </tr>
                        #end
                    </table>
                </div>
            #end

        ## Test step results

            #set( $level = 1)
            #foreach($step in $testrun.TestSteps)
                #step($step)
            #end

            <div class="bottomb"><img src="images/bottomm.jpg"/></div>
        </div>
    </div>
    <div id="beforefooter"></div>
    <div id="bottomfooter"></div>


    <script src="scripts/imgpreview.full.jquery.js" type="text/javascript"></script>

    <script type="text/javascript">
        //<![CDATA[
        jQuery.noConflict();
        (function($) {
            $('a').imgPreview({
                        imgCSS: {
                            width: '500px'
                        },
                        distanceFromCursor: {top:10, left:-200}
                    });
        })(jQuery);
        //]]>
    </script>
    <div id="imgPreviewContainer" style="position: absolute; top: 612px; left: 355px; display: none; " class=""><img
            src="" style="display: none; "></div>
    <div id="imgPreviewContainer" style="position: absolute; top: 925px; left: 320px; display: none; " class=""><img
            style="width: 200px; display: none; " src=""></div>
    <div id="imgPreviewWithStyles" style="position: absolute; top: 1272px; left: 321px; display: none; " class=""><img
            style="height: 200px; opacity: 1; display: none; " src=""></div>
    <div id="imgPreviewWithStyles2" style="display: none; position: absolute; "><img style="height: 200px; "></div>
    <div id="imgPreviewWithStyles3" style="display: none; position: absolute; "><img style="height: 200px; "></div>

</body>
</html>
