<LINK REL=StyleSheet HREF="default.css" TYPE="text/css" MEDIA=screen>
    
<html>
    <body>
        <h2>$testrun.Title</h2>
                #if ($testrun.result == "FAILURE")
                    #set( $color = "#FFB0B0" )
                #elseif ($testrun.result == "SUCCESS")
                    #set( $color = "#B0FFB0" )
                #elseif ($testrun.result == "PENDING")
                    #set( $color = "#eecbad" )
                #else
                    #set( $color = "#FFFFB0" )
                #end
        <table border="none" >
            <tr bgcolor="$color"><td><b>RESULT:</b></td> <td>$testrun.result</td></tr>
            <tr><td><b>REQUIREMENTS TESTED:</b></td> <td>$testrun.allTestedRequirements</td></tr>
        <table>   
    
        <table style="border:thin;border-color: gray; border-style: solid;">
            <tr><th>Steps</th><th>Failed</th><th>Pending</th><th>Skipped</th></tr>
            <tr><td>$testrun.stepCount</td><td>$testrun.failureCount</td><td>$testrun.pendingCount</td><td>$testrun.skippedCount</td></tr>
        </table>
        <p/>
        <table style="border:thin;border-color: gray; border-style: solid;">
            <tr><th>Step</th><th>Outcome</th><th>Screenshot</th></tr>
            #foreach($step in $testrun.TestSteps)
                #if ($step.result == "FAILURE")
                    #set( $rowcolor = "#FFB0B0" )
                #elseif ($step.result == "SUCCESS")
                    #set( $rowcolor = "#B0FFB0" )
                #elseif ($step.result == "PENDING")
                    #set( $rowcolor = "#eecbad" )
                #else
                    #set( $rowcolor = "#FFFFB0" )
                #end
            <tr bgcolor="$rowcolor">
                <td>$step.description</td>
                <td>$step.result</td>
                <td>#if( $step.screenshot )
                    <a href="$step.screenshot.name">Screenshot</a>
                    #end
                </td>
            </tr>
            #end
        </table>
    </body>
</html>
