<LINK REL=StyleSheet HREF="default.css" TYPE="text/css" MEDIA=screen>
    
<html>
    <body>
        <h2>Acceptance test result: $testrun.Title/></h2>
        <table>
            <tr><th>Step</th><th>Outcome</th></tr>
            #foreach($step in $testrun.TestSteps)
            <tr class="resulttable.$step.result">
                <td>$step.description</td>
                <td>$step.result</td>
            </tr>
            #end
        </table>
    </body>
</html>
